<div class="p-5">
  <div class="header pb-3">
    <div class="flex justify-between items-center	">
      <h2 class="font-normal text-2xl leading-6 text-gray-600 m-0 p-0 title_font">اضافه کردن یه وبلاگ جدید</h2>
      <button routerLink="/blog" class="btn btn-primary">لیست وبلاگ ها</button>
    </div>
  </div>

  <section class="formAdd mt-5">
    <div class="col-12">
      <div class="col-lg-6 mb-3">
        <h2 class="font-normal mb-2 text-2xl leading-6 text-gray-400 p-0 title_font">تایتل وبلاگ جدید</h2>
        <input [(ngModel)]="addBlog.title" type="text" placeholder="..." class="text-base input input-bordered input-gray w-full" />
      </div>
    </div>
    <div class="col-12">
        <h2 class="font-normal mb-2 text-2xl leading-6 text-gray-400 p-0 title_font">متن وبلاگ جدید</h2>
        <textarea [(ngModel)]="addBlog.description" placeholder="..." class="text-base input input-bordered input-gray w-full p-3"></textarea>
    </div>
    <div class="col-12 flex justify-center mt-4">
      <button (click)="clickAdd()" class="btn btn-primary">ثبت</button>
    </div>
  </section>

</div>
