<section class="p-5">
  <div appBox>
    <div class="header flex justify-between items-center pb-5 mb-5 border-b">
      <h2 class="flex text-2xl title_font text-gray-700 m-0">کریپتوکارنسی</h2>
    </div>
    <ng-container *ngIf="false">
      <div class="header flex justify-center items-center pb-10 mt-5">
        <h2 class="flex text-2xl title_font text-gray-600 m-0">5 تا از بهترین کریپتوکارنسی ها</h2>
      </div>
      <div>
        <owl-carousel-o [options]="customOptions">
          <ng-template *ngFor="let item of best_currency" carouselSlide>
            <a [routerLink]="['details/', item.id]" class="relative p-4 rounded-lg bg-blue-500 hover:bg-blue-600 transition-all flex items-end flex-col">
              <div class="flex flex-col text-white justify-end text-left mb-4">
                <h2 class="text-xl font-light m-0">{{item.name}}</h2>
                <i class="text-xs not-italic font-medium">
                  <span class="ml-1">( {{item.type}} )</span>
                  {{item.symbol}}
                </i>
              </div>
              <div class="w-full flex flex-col justify-end text-left gap-2.5">
          <span class="text-white flex items-center justify-end bg-blue-700 rounded-md py-1 px-2">
            <span class="ml-auto bg-blue-600 rounded-md w-8 h-8 flex justify-center items-center">{{item.rank}}</span>
            <span>ranking</span>
          </span>
                <span class="text-white flex items-center justify-end bg-blue-700 rounded-md py-1 px-2">
            <span [class]="item.is_active ? 'fa-light fa-check ml-auto bg-blue-600 rounded-md w-8 h-8 flex justify-center items-center' :''"></span>
            <span [class]="!item.is_active ? 'fa-light fa-close ml-auto bg-blue-600 rounded-md w-8 h-8 flex justify-center items-center' :''"></span>
            <span>active</span>
          </span>
                <span class="text-white flex items-center justify-end bg-blue-700 rounded-md py-1 px-2">
            <span [class]="item.is_new ? 'fa-light fa-check ml-auto bg-blue-600 rounded-md w-8 h-8 flex justify-center items-center' :''"></span>
            <span [class]="!item.is_new ? 'fa-light fa-close ml-auto bg-blue-600 rounded-md w-8 h-8 flex justify-center items-center' :''"></span>
            <span>new</span>
          </span>
              </div>
            </a>
          </ng-template>
        </owl-carousel-o>
      </div>
    </ng-container>
    <ng-container *ngIf="!isLoader">
      <div class="header flex justify-center items-center pb-10 mt-10">
        <h2 class="flex text-2xl title_font text-gray-600 m-0">لیست کریپتوکارنسی ها</h2>
      </div>
      <cdk-virtual-scroll-viewport scrollWindow appendOnly itemSize="4">
        <div class="grid grid-cols-4 gap-4">
          <a *cdkVirtualFor="let item of currency"
             [routerLink]="['details/' , item.id]"
             class="shadow rounded p-5 flex gap-2 flex-col bg-blue-50 transition-all hover:bg-blue-100">
            <div class="flex flex-col gap-1">
              <h2 class="flex text-lg title_font text-gray-700 m-0">{{item.name}}</h2>
              <span class="flex text-md text-gray-700 m-0">{{item.symbol}}</span>
            </div>
            <div class="flex gap-2">
              <span class="bg-red-200 border border-red-400 rounded text-red-600 px-2 py-1 text-xs" *ngIf="item.is_new">جدید</span>
              <span class="bg-gray-200 border border-gray-400 rounded text-gray-600 px-2 py-1 text-xs" *ngIf="!item.is_active">غیر فعال</span>
            </div>

            <div class="flex justify-end w-full">
              <button class="border bg-blue-700 border-blue-700 rounded text-white transition-all px-3 py-1 text-sm">ادامه مطلب</button>
            </div>
          </a>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>
    <ng-container *ngIf="isLoader">
      <app-Spinner_loader></app-Spinner_loader>
    </ng-container>
  </div>
</section>
