<section class="h-screen flex items-center">
  <div class="container">
    <div appBox>
      <div class="grid grid-cols-2 gap-4">
        <div class="md:col-span-1 col-span-2">
          <div class="flex flex-wrap flex-col">
            <div class="w-full mb-5 p-1 flex col-12 flex justify-center items-center	flex-col">
              <h2 class="flex text-4xl title_font text-gray-700">ورود</h2>
            </div>
            <div class="flex flex-col relative mb-5">
              <label class="mb-3 flex text-lg text-gray-700">ایمیل</label>
              <input appInput
                     class="pr-11"
                     (keyup.enter)="logInValidationAuth()"
                     [(ngModel)]="LogInInput.UserName"
                     name="email"
                     type="email"
                     placeholder="test@test.com" />
              <i class="far fa-at absolute right-4 text-gray-700 text-lg bottom-3"></i>
            </div>
            <div class="flex flex-col relative mb-5">
              <label class="mb-3 flex text-lg text-gray-700">رمز کاربری</label>
              <input appInput
                     class="pr-11"
                     (keyup.enter)="logInValidationAuth()"
                     [(ngModel)]="LogInInput.Password"
                     name="password"
                     [type]="eye ? 'text' : 'password'"
                     placeholder="..." />
              <i class="far fa-key-skeleton absolute right-4 text-gray-700 text-lg bottom-3"></i>
              <i class="far absolute left-4 text-gray-700 text-lg bottom-3 cursor-pointer"
                 [class]="eye ? 'fa-eye-slash' : 'fa-eye'"
                 (click)="eye = !eye;">
              </i>
            </div>
            <div class="flex flex-col justify-center items-center">
              <button appButton
                      [disabled]="loading ? 'disabled' : ''" (click)="logInValidationAuth()">
                <i *ngIf="this.loading" class="far fa-spinner-third animate-spin"></i>
                <span *ngIf="!this.loading">ارسال</span>
              </button>
            </div>
          </div>
        </div>
        <div class="h-[400px] md:flex hidden">
          <img class="object-contain w-full h-full" src="../../../../assets/images/logIn.png" alt="logIn">
        </div>
      </div>
    </div>
  </div>
</section>
