<div class="text-gray-100 text-xl">
  <div class="h-[75px] px-2.5 mt-1 flex justify-center flex-col">
    <h2 class="flex text-xl title_font text-gray-200 mb-1">ادمین پنل</h2>
  </div>
  <div class="my-2 bg-gray-600 h-[1px]"></div>
</div>
<a *ngFor="let Menu of SidebarMenu"
   routerLink="{{Menu.link}}"
   class="p-2.5
          mt-3
          flex
          items-center
          rounded-md
          px-4
          duration-300
          cursor-pointer
          hover:bg-gray-800
          text-white"
   routerLinkActive="hover:bg-blue-800 bg-blue-700">
  <i [ngClass]="Menu.icon" class="text-[15px] ml-4 text-gray-200 fa-light"></i>
  <span class="text-[15px] ml-4 text-gray-200">{{Menu.text}}</span>
</a>

<div class="my-4 bg-gray-600 h-[1px]"></div>

