<section class="weather bg-sky-600 min-h-screen p-5 flex justify-center justify-center">
  <div *ngIf="isLoader">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!isLoader" class="w-96 m-auto">
    <div class="card bg-base-100 shadow-xl mb-5">
      <div class="card-body">

        <form class="flex items-center ltr">
          <button (click)="formSearch()" type="submit" class="p-2.5 mr-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 far fa-search"></button>
          <div class="relative w-full">
            <input [(ngModel)]="searchInput" name="search" type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="جستوجو شهر ..." required>
          </div>
        </form>

      </div>
    </div>
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex justify-center flex-col">
          <h2 class="card-title text-center flex justify-center flex-col capitalize font-black text-6xl">{{weatherInfo.name}}</h2>

          <div class="stats shadow grid grid-cols-3 w-full mb-5">
            <div class="stat border-l flex justify-center flex-col items-center">
              <div class="stat-value"><i class="fa-light fa-temperature-arrow-down"></i></div>
              <div class="stat-desc text-base	mt-2 opacity-100">{{weatherInfo.min_temp}}</div>
            </div>
            <div class="stat flex justify-center flex-col items-center">
              <div class="stat-value colorGradient">{{weatherInfo.temp}}C</div>
            </div>
            <div class="stat border-r flex justify-center flex-col items-center">
              <div class="stat-value"><i class="fa-light fa-temperature-arrow-up"></i></div>
              <div class="stat-desc text-base	mt-2 opacity-100">{{weatherInfo.max_temp}}</div>
            </div>
          </div>

          <div class="overflow-x-auto stats shadow ">
            <table class="table w-full">
              <tbody>
              <tr>
                <th class="text-right font-normal">
                  <i class="fa-regular ml-4 fa-cloud"></i>
                  ابر
                </th>
                <td>{{weatherInfo.cloud_pct}}</td>
              </tr>
              <tr class="active">
                <th class="text-right font-normal">
                  <i class="fa-regular ml-4 fa-heart"></i>
                  حس خوب
                </th>
                <td>{{weatherInfo.feels_like}}</td>
              </tr>
              <tr>
                <th class="text-right font-normal">
                  <i class="fa-regular ml-4 fa-droplet-degree"></i>
                  رطوبت
                </th>
                <td>{{weatherInfo.humidity}}</td>
              </tr>
              <tr class="active">
                <th class="text-right font-normal">
                  <i class="fa-regular ml-4 fa-wind"></i>
                  سرعت باد
                </th>
                <td>{{weatherInfo.wind_speed}}</td>
              </tr>
              <tr>
                <th class="text-right font-normal">
                  <i class="fa-regular ml-4 fa-windsock"></i>
                  درجه باد
                </th>
                <td>{{weatherInfo.wind_degrees}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
