<section class="p-5">
  <div appBox>
    <div class="header flex justify-between items-center pb-5 mb-5 border-b">
      <h2 class="flex text-2xl title_font text-gray-700 m-0">صرافی بیتمکس</h2>
    </div>
    <ng-container *ngIf="loader">
      <app-Spinner_loader></app-Spinner_loader>
    </ng-container>
    <ng-container *ngIf="!loader">
      <div class="border p-5 rounded-md grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 gap-4">
        <h3 class="border-l p-3 block text-xl title_font text-gray-500 m-0">{{data.m.n}}</h3>
        <div class="lg:border-l xl:border-none flex flex-col justify-center items-center">
          <h6 class="flex text-lg text-gray-500 mb-2">{{(data.m.s.lo).toFixed(2)  | number: '3.'}}</h6>
          <span class="flex text-sm text-gray-400 mb-0">{{data.m.s.pp}}%</span>
        </div>
        <div class="border-l lg:border-none flex flex-col justify-center items-center">
          <h6 class="flex text-xs text-gray-400 mb-2">بالاترین</h6>
          <span class="flex text-sm text-gray-500 mb-0">{{(data.m.s.map24).toFixed(2)  | number: '3.'}}</span>
        </div>
        <div class="lg:border-l xl:border-none flex flex-col justify-center items-center">
          <h6 class="flex text-xs text-gray-400 mb-2">پایین ترین</h6>
          <span class="flex text-sm text-gray-500 mb-0">{{(data.m.s.mip24).toFixed(2)  | number: '3.'}}</span>
        </div>
        <div class="border-l xl:border-none flex flex-col justify-center items-center">
          <h6 class="flex text-xs text-gray-400 mb-2"> حجم معاملات {{data_name[0]}}</h6>
          <span class="flex text-sm text-gray-500 mb-0">{{(data.m.s.sa24).toFixed(2)  | number: '3.'}}</span>
        </div>
        <div class="flex flex-col justify-center items-center">
          <h6 class="flex text-xs text-gray-400 mb-2"> حجم معاملات {{data_name[1]}}</h6>
          <span class="flex text-sm text-gray-500 mb-0">{{(data.m.s.sp24).toFixed(2)  | number: '3.'}}</span>
        </div>
      </div>
      <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-4 mt-5">
        <div class="border rounded-md h-96 overflow-auto">
          <h2 class="p-5">پیشنهادهای فروش</h2>
          <table class="table table w-full text-right overflow-x-auto">
            <thead class="w-full">
            <tr>
              <td class="bg-blue-500 text-base font-normal text-white">
                قیمت
                ({{data_name[1]}})
              </td>
              <td class="bg-blue-500 text-base font-normal text-white">مقدار</td>
              <td class="bg-blue-500 text-base font-normal text-white">
                مبلغ کل
                ({{data_name[1]}})
              </td>
            </tr>
            </thead>
            <tbody class="active w-full">
            <tr *ngFor="let item of data.m.a" class="h-2 w-full">
              <td>{{(item.p).toFixed(2) | number: '3.'}}</td>
              <td>{{(item.a).toFixed(2)}}</td>
              <td>{{(item.a * item.p).toFixed(2)  | number: '3.'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="border rounded-md h-96 overflow-auto">
          <h2 class="p-5">بازار ها</h2>
          <table class="table table w-full text-right overflow-x-auto">
            <thead class="w-full">
            <tr>
              <td class="bg-blue-500 text-base font-normal text-white">جفت ارز</td>
              <td class="bg-blue-500 text-base font-normal text-white">درصد تغییرات</td>
              <td class="bg-blue-500 text-base font-normal text-white">آخرین قیمت</td>
            </tr>
            </thead>
            <tbody class="active w-full">
            <tr *ngFor="let item of data.M" (click)="change_market(item.id)" class="cursor-pointer bg-blue-300_hover h-2 w-full"
            [class]="item.id == data.m.n ? 'bg-active' : ''">
              <td>{{item.n.fa}}</td>
              <td class="EN_direction">{{item.pp}} %</td>
              <td>{{(item.lp).toFixed(2)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="border rounded-md h-96 overflow-auto">
          <h2 class="p-5">پیشنهاد های خرید</h2>
          <table class="table table w-full text-right overflow-x-auto">
            <thead class="w-full">
            <tr>
              <td class="bg-blue-500 text-base font-normal text-white">
                قیمت
                ({{data_name[1]}})
              </td>
              <td class="bg-blue-500 text-base font-normal text-white">مقدار</td>
              <td class="bg-blue-500 text-base font-normal text-white">
                مبلغ کل
                ({{data_name[1]}})
              </td>
            </tr>
            </thead>
            <tbody class="active w-full">
            <tr *ngFor="let item of data.m.b" class="h-2 w-full">
              <td>{{(item.p).toFixed(2) | number: '3.'}}</td>
              <td>{{(item.a).toFixed(2)}}</td>
              <td>{{(item.a * item.p).toFixed(2)  | number: '3.'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="border rounded-md h-96 overflow-auto">
          <h2 class="p-5">معاملات اخیر بازار</h2>
          <table class="table table w-full text-right overflow-x-auto">
            <thead class="w-full">
            <tr>
              <td class="bg-blue-500 text-base font-normal text-white">
                قیمت
                ({{data_name[1]}})
              </td>
              <td class="bg-blue-500 text-base font-normal text-white">مقدار</td>
              <td class="bg-blue-500 text-base font-normal text-white">زمان</td>
            </tr>
            </thead>
            <tbody class="active w-full">
            <tr *ngFor="let item of data.m.f" class="h-2 w-full">
              <td>{{(item.p).toFixed(2) | number: '3.'}}</td>
              <td>{{(item.a).toFixed(2)}}</td>
              <td>{{(item.t | date: 'h:mm:ss a')}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</section>
