<div class="p-5">
  <div class="header pb-3">
    <div class="flex justify-between items-center	">
      <h2 class="font-normal text-2xl leading-6 text-gray-600 m-0 p-0 title_font">لیست همه وبلاگ ها</h2>
      <button routerLink="add" class="btn btn-primary">لیست وبلاگ ها</button>
    </div>
  </div>
  <div class="p-3 border border-slate-300 rounded">
  <div class="overflow-x-auto ">
    <table class="table w-full  text-right">
      <!-- head -->
      <thead>
      <tr>
        <th></th>
        <th>تایتل</th>
        <th>تاریخ</th>
        <th>بازدید</th>
        <th>ویرایش</th>
        <th>حذف</th>
      </tr>
      </thead>
      <tbody>
      <!-- row 1 -->
      <tr>
        <th>1</th>
        <td>برنامه نویسی چیست و چرا ؟</td>
        <td>8 / 4 / 1401</td>
        <td><div class="badge badge-ghost">850</div></td>
        <td><button class="btn btn-accent text-1xl far fa-edit"></button></td>
        <td><button class="btn btn-secondary text-1xl far fa-trash-alt"></button></td>
      </tr>
      <!-- row 2 -->
      <tr class="active">
        <th>2</th>
        <td>برنامه نویسی چیست و چرا ؟</td>
        <td>8 / 4 / 1401</td>
        <td><div class="badge badge-ghost">850</div></td>
        <td><button class="btn btn-accent text-1xl far fa-edit"></button></td>
        <td><button class="btn btn-secondary text-1xl far fa-trash-alt"></button></td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>3</th>
        <td>برنامه نویسی چیست و چرا ؟</td>
        <td>8 / 4 / 1401</td>
        <td><div class="badge badge-ghost">850</div></td>
        <td><button class="btn btn-accent text-1xl far fa-edit"></button></td>
        <td><button class="btn btn-secondary text-1xl far fa-trash-alt"></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
