<section class="p-5">
  <div class="header py-5">
    <div class="flex justify-between items-center	">
      <h2 class="font-normal text-2xl leading-6 text-gray-600 m-0 p-0 title_font">لیست کریپتو کارنسی</h2>
    </div>
  </div>

  <div *ngIf="isLoader">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!isLoader">
      <div class="overflow-x-auto w-full">


        <cdk-virtual-scroll-viewport itemSize="50" class="h-screen w-full virtualMain">
          <table class="table table-zebra w-full text-right">
            <thead>
            <tr class="h-20">
              <th></th>
              <th>نام</th>
              <th>تایپ</th>
              <th>نماد</th>
              <th>رتبه</th>
              <th>ای دی</th>
              <th>فعال</th>
              <th>جدید</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *cdkVirtualFor="let item of currency;let i = index" class="h-20">
              <th>{{i + 1}}</th>
              <td> {{item.name}}</td>
              <td> {{item.type}}</td>
              <td> {{item.symbol}}</td>
              <td> {{item.rank}}</td>
              <td> {{item.id}}</td>
              <td> {{item.is_active}}</td>
              <td> {{item.is_new}}</td>
              <td><button [routerLink]="['details/' , item.id]" class="btn btn-link">بیشتر</button></td>
            </tr>
            </tbody>
          </table>
        </cdk-virtual-scroll-viewport>
      </div>
  </div>
</section>
