<div class="text-gray-100 text-xl">
  <div class="p-2.5 mt-1 flex items-center">
    <h1 class="font-bold text-gray-200 text-[15px] m-0 ml-3">سایدبار</h1>
  </div>
  <div class="my-2 bg-gray-600 h-[1px]"></div>
</div>
<div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
  <span class="text-[15px] ml-4 text-gray-200">خانه</span>
</div>
<div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
  <span class="text-[15px] ml-4 text-gray-200">بوک مارک</span>
</div>
<div class="my-4 bg-gray-600 h-[1px]"></div>
<div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
  <div class="flex justify-between w-full items-center">
    <span class="text-[15px] ml-4 text-gray-200">چت</span>
  </div>
</div>
<div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
  <div class="flex justify-between w-full items-center">
    <span class="text-[15px] ml-4 text-gray-200">مت</span>
  </div>
</div>
<div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
  <div class="flex justify-between w-full items-center">
    <span class="text-[15px] ml-4 text-gray-200">پت</span>
  </div>
</div>
