<div class="p-5">
  <div class="header pb-3">
    <div class="flex justify-between items-center	">
      <h2 class="font-normal text-2xl leading-6 text-gray-600 m-0 p-0 title_font"> وبلاگ شماره : {{ localItem[0].id }}</h2>
      <button routerLink="/blog" class="btn btn-primary">لیست وبلاگ ها</button>
    </div>
  </div>

  <div class="flex justify-between items-center my-5">
    <h3 class="font-normal text-2xl leading-6 text-gray-600 m-0 p-0 title_font"> دیده شده : {{ localItem[0].view }}</h3>
    <div class="flex">
      <app-btn-edit [routerLink]="['/blog/edit/' , localItem[0].id ]" class="ml-3"></app-btn-edit>
      <app-btn-delete (click)="clickDelete(localItem[0].id)"></app-btn-delete>
    </div>
  </div>


  <div class="flex justify-between items-center my-5">
    <h3 class="font-normal text-2xl leading-6 text-gray-600 m-0 p-0 title_font">{{ localItem[0].title }}</h3>
    <span class="badge badge-outline">{{ localItem[0].date }}</span>
  </div>

  <p>{{ localItem[0].description }}</p>



</div>
