<header>
  <div>
    <div class="bg-white rounded shadow-lg py-5 px-7">
      <nav class="flex justify-between">
        <div class="flex items-center">
          <div class="profile dropdown ml-3">
            <label tabindex="0" class="btn m-1"> خوش آمدید <i class="far fa-angle-down mr-1"></i> </label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 border">
              <li (click)="logOut()"><a>خروج</a></li>
            </ul>
          </div>
        </div>
        <div class="flex space-x-5 justify-center items-center pr-2">
          <i (click)="click_status()" [class]="isActive ? 'fa-times-custom lg:fa-bars-custom' : 'fa-bars-custom lg:fa-times-custom'"
             class="fa-custom btn w-[50px] flex justify-center items-center cursor-pointer text-2xl"></i>
        </div>
      </nav>
    </div>
  </div>
</header>
