<header>
  <div class="2xl:container 2xl:mx-auto">
    <div class="bg-white rounded shadow-lg py-5 px-7">
      <nav class="flex justify-between">
        <div class="flex items-center">
          <h2 class="font-normal text-2xl leading-6 text-gray-800 m-0 p-0 title_font">پنل</h2>
        </div>
        <div class="flex space-x-5 justify-center items-center pr-2">
          <i (click)="click_status()" [class]="isActive ? 'fa-light fa-bars' : 'fa-light fa-times'" class="cursor-pointer text-2xl font-semibold text-slate-500"></i>
        </div>
      </nav>
    </div>
  </div>
</header>
