/*
  @use '@angular/material' as mat;
  @include mat.core();
  $admin-panel-primary: mat.define-palette(mat.$indigo-palette);
  $admin-panel-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
  $admin-panel-warn: mat.define-palette(mat.$red-palette);
  $admin-panel-theme: mat.define-light-theme((color: (primary: $admin-panel-primary, accent: $admin-panel-accent, warn: $admin-panel-warn,)));
  @include mat.all-component-themes($admin-panel-theme);
*/

@font-face {
  font-family: 'Mikhak';
  src: url('assets/fonts/Mikhak/Mikhak-Bold.eot');
  src: url('assets/fonts/Mikhak/Mikhak-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Mikhak/Mikhak-Bold.woff2') format('woff2'),
  url('assets/fonts/Mikhak/Mikhak-Bold.woff') format('woff'),
  url('assets/fonts/Mikhak/Mikhak-Bold.ttf') format('truetype'),
  url('assets/fonts/Mikhak/Mikhak-Bold.svg#Mikhak-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: iransans;
  src: url("assets/fonts/iransansdn/IRANSansDNFaNum.ttf"),
  url("assets/fonts/iransansdn/IRANSansDNFaNum.woff2"),
  url("assets/fonts/iransansdn/IRANSansDNFaNum.eot"),
  url("assets/fonts/iransansdn/IRANSansDNFaNum.woff")
}
html , body{
  scroll-behavior: smooth;
  background: #f5f5f5;
  font-family: iransans , sans-serif ; direction: rtl
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.title_font{
  font-family: 'Mikhak' , sans-serif !important;
}
.swal2-styled.swal2-confirm{
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  color: #ddd !important;
  transition: all .3s;
  padding: 0 !important;
  margin: 0 !important;
  margin-left: auto !important;

}
.swal2-icon.swal2-error.swal2-icon-show{
  margin: 0;
}
.swal2-styled.swal2-confirm:hover{
  background: transparent !important;
  color: #aaa !important;
}
.swal2-container.swal2-top-end>.swal2-popup{
}
.swal2-popup.swal2-toast .swal2-title{
  margin-bottom: 0 !important;
  font-family: 'Mikhak';

}
.swal2-popup.swal2-toast .swal2-actions{
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 !important;
}
.swal2-popup.swal2-toast .swal2-html-container{
  margin-top: 0 !important;
}
