@import "./assets/scss/fonts";
@import "./assets/scss/variables";

html , body{
  scroll-behavior: smooth;
  background: #f5f5f5;
  font-family: $font-family;
  direction: rtl;
}

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@tailwind base;
@tailwind components;
@tailwind utilities;

.FA_direction{
  direction: rtl;
}
.EN_direction{
  direction: ltr;
}

tbody.active > tr:nth-child(even) > th,
tbody.active > tr:nth-child(even) > td{
  background: #eee9 !important;
}
.owl-nav>div{
  padding: 0.25rem 0.5rem !important;
  background: #1d4ed8 !important;
  color: #fff !important;
}
.title_font{
  font-family: $font-family-Bold !important;
}
.swal2-styled.swal2-confirm{
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  color: #ddd !important;
  transition: all .3s;
  padding: 0 !important;
  margin: 0 !important;
  margin-left: auto !important;

}
.swal2-icon.swal2-error.swal2-icon-show{
  margin: 0;
}
.swal2-styled.swal2-confirm:hover{
  background: transparent !important;
  color: #aaa !important;
}
.swal2-container.swal2-top-end>.swal2-popup{
}
.swal2-popup.swal2-toast .swal2-title{
  margin-bottom: 0 !important;
  font-family: $font-family;
}
.swal2-popup.swal2-toast .swal2-actions{
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 !important;
}
.swal2-popup.swal2-toast .swal2-html-container{
  margin-top: 0 !important;
}
