<div class="relative flex items-center flex-col">
  <input type="text"
         (click)="openTextarea($event)"
         [(ngModel)]="todo.title"
         placeholder="اضافه کردن آیتم جدید ..."
         class="p-2.5
                text-lg
                rounded-lg
                border
                focus:outline-none
                w-full
                h-14">
  <textarea name=""
            (click)="openTextarea($event)"
            [(ngModel)]="todo.description"
            placeholder="اضافه کردن توضیحات به آیتم جدید ..."
            class=" text-lg
                rounded-lg
                w-full
                transition-all
                focus:outline-none
                outline-none
                resize-none"
            [class]="isTextarea ? 'h-40 p-2.5 border mt-3' : 'h-0 p-0'">
  </textarea>
  <button (click)="submit()" appButton class="absolute left-1 top-1">ثبت</button>

</div>
